* {
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat", sans-serif;
}

/* --------Nav-Bar-Section----------------------- */

.nav-bar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  box-shadow: 1px 1px 10px rgb(185, 185, 185);
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 50px;
}

.discount-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 200px;
  font-size: 14px;
  font-weight: 500;
  background-image: linear-gradient(to right, orange, yellow, orange);
  padding: 10px 20px;
  border-radius: 50px;
  color: rgb(40, 40, 40);
  cursor: pointer;
}

.sign {
  color: #7b2aff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 5px;
}

.sign-discount {
  font-weight: 600;
}

/* -----Main-Div------------- */

.main-div {
  background-image: url("./public/images/main-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 400px;
  margin-top: 10px;
  position: relative;
  /* border: 1px solid red; */
}

.main-search-comp {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  box-shadow: 5px 5px 10px grey;
  border-radius: 20px;
  max-width: 600px;
  margin: auto;
  position: relative;
  top: 350px;
}

.from,
.to,
.date {
  display: flex;
  align-items: center;
}

.from-input,
.To-input,
.date-input {
  display: flex;
  align-items: center;
}

.from-comp,
.to-comp,
.date-comp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}

.from-input input,
.To-input input,
.date-input input {
  width: 80%;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 12px;
  padding: 5px;
}

.from-input :focus,
.To-input input:focus,
.date-input input:focus {
  outline: none;
}

.from p,
.to p,
.date p {
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
}

.search-comp button {
  background-color: #fd5f98;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
  color: white;
}

/* ---------Offers-Div---------------- */

.offers-div {
  padding: 0px 100px;
  margin-top: 80px;
  /* border: 1px solid red;  */
}

.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.offers-head {
  font-size: 28px;
  font-weight: 600;
  border-bottom: 1.5px solid lightgray;
  padding-bottom: 20px;
  color: rgb(55, 55, 55);
}

.offers-sub-head {
  color: rgb(100, 100, 100);
  font-size: 24px;
  font-weight: 600;
}

.offers-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.offers-image img {
  border-radius: 10px;
  cursor: pointer;
}

.all-offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 100px;
  position: relative;
}

.all-offers-head {
  color: #7b2aff;
  font-weight: 600;
  font-size: 18px;
}

.download-qr {
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 20px;
  background-color: #8142c965;
}

.all-offers button {
  position: absolute;
  bottom: 25px;
  left: 25%;
  background-color: #7b2aff;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

/* ---------zing-bus-Div---------------- */

.zing-bus {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.zing-bus-head {
  font-size: 28px;
  font-weight: 600;
  border-bottom: 1.5px solid lightgray;
  padding-bottom: 20px;
  color: rgb(55, 55, 55);
}

.zing-bus-sub-head {
  color: rgb(100, 100, 100);
  font-size: 24px;
  font-weight: 600;
}

.zing-bus-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.zing-img {
  position: relative;
}

.zing-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  padding: 30px;
  position: absolute;
  top: 0;
}

.zing-content p {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 500;
  color: white;
}

.zing-content h1 {
  color: white;
}

.zing-content button {
  width: 50px;
  border: none;
  border-radius: 50px;
  padding: 5px;
  cursor: pointer;
}

.zing-bus-lounge {
  padding: 0px 100px;
  margin: 40px 0;
}

.zing-bus-lounge {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.zing-bus-lounge-head {
  font-size: 28px;
  font-weight: 600;
  border-bottom: 1.5px solid lightgray;
  padding-bottom: 20px;
  color: rgb(55, 55, 55);
}

.zing-bus-lounge-sub-head {
  color: rgb(100, 100, 100);
  font-size: 24px;
  font-weight: 600;
}

.zing-bus-lounge-image{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.zing-lounge-content {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
  background-color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 0 20px 20px 0;
}